@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next {
  max-width: 100vw;
  overflow-x: hidden;
}

.smooth {
  @apply transition-all duration-300 ease-out;
}

input::file-selector-button {
  @apply dark:text-zinc-50;
}
